PyYAML
--index-url https://pypi.python.org/simple/

torch>=1.6
pytorch_lightning>=1.3.3
hydra-core>=1.1.0.rc1
hydra-colorlog>=1.1.0.dev1
numpy
ase>=3.21
h5py
tqdm
pytest
pytest-datadir

pre-commit
black
