PyYAML
--index-url https://pypi.python.org/simple/

torch>=1.9
pytorch_lightning>=1.3.5
hydra-core>=1.1.0
hydra-colorlog>=1.1.0
numpy
ase>=3.21
torchmetrics
h5py
tqdm
pytest
pytest-datadir

pre-commit
black
