https://download.pytorch.org/whl/cpu/torch-1.7.1%2Bcpu-cp38-cp38-linux_x86_64.whl; python_version=='3.8'
https://pytorch-geometric.com/whl/torch-1.7.0+cpu/torch_scatter-2.0.6-cp38-cp38-linux_x86_64.whl; python_version=='3.8'

numpy
ase
h5py
pyyaml
tqdm
ipykernel
nbsphinx
pytest-datadir
torch-scatter