torch
numpy
ase>=3.21
h5py
pyyaml
tqdm
ipykernel

nbsphinx
sphinx==7.1.2
sphinx_rtd_theme
readthedocs-sphinx-search

pytorch_lightning>=2.0.0
hydra-core>=1.1.0
hydra-colorlog>=1.1.0
torchmetrics==1.0.1
protobuf==4.25.8
