https://download.pytorch.org/whl/cpu/torch-1.12.1%2Bcpu-cp38-cp38-linux_x86_64.whl; python_version=='3.10'

numpy
ase>=3.21
h5py
pyyaml
tqdm
ipykernel

nbsphinx
sphinx-autoapi
sphinx==7.1.2
sphinx_rtd_theme
readthedocs-sphinx-search

pytorch_lightning>=2.0.0
hydra-core>=1.1.0
hydra-colorlog>=1.1.0
torchmetrics==1.0.1
protobuf==3.20.2
